{% extends 'STY.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'todo.css' %}">
<div class="container">
    <div class="header-bar">
        <h2>Delete Task</h2>
        <button class="button"><a href="{% url 'To_Do_List:tasks' %}">&#8592; Back</a></button>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <p>Are your sure you want to delete<b>"{{task}}"</b> ?</p>
            <input class="button" type="submit" value="Delete" />
        </form>
    </div>
</div>
{% endblock content %}