{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'swiper-bundle.min.css' %}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'index_front_page/Hstyle.css' %}" />
        
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<title>Daliy Web</title>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
            <span class="logo navLogo"><a href="{% url 'index' %}">Home Page</a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="{% url 'index' %}">Daliy WebSiTe</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'music_index' %}">Music</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">More</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>

                <div class="user">
                    {% if user.is_authenticated %}
                        <a href="{% url 'user' user.id %}">User</a>
                    {% else %}
                        <a href="login">Login</a>
                    {% endif %}
                </div>

                <div class="searchBox">
                   <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                   </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
            <!-- <a href="#">Login</a> -->
        </div>
    </nav>

    {% block content %}
    {% endblock content %}
  
      <!-- Swiper JS -->
      <script src="{% static 'swiper-bundle.min.js' %}"></script>
  
      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 1,
          loop: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
      </script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>