{% extends 'STY.html' %}
{% load humanize %}

{% load static %}
{% block content %}
<style>
  body {
    /* item center */
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .order-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-top: 80px;
}

h1 {
    color: #4c4c4c;
    margin-bottom: 20px;
}

.back-to-store {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

.back-to-store:hover {
    text-decoration: underline;
}

  </style>

<div class="order-container">
  <h1>Thank you for your order!</h1>
  <p>Order ID: {{ order.id }}</p>
  <p>Customer Name: {{ order.customer_name }}</p>
  <p>Shipping Address: {{ order.shipping_address }}</p>
  <p>Billing Address: {{ order.billing_address }}</p>
  <p>Total Price: {{ order.total_price }}</p>
  <p>Status: {{ order.status }}</p>
  <a href="{% url 'ecommerce:Ecommerce_index' %}" class="back-to-store">Back to store</a>
</div>
{% endblock content %}