{% extends 'STY.html' %}
{% load humanize %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'ecommerce_styles.css' %}">

<div class="product-detail-container">
    <h2>{{ product.name }}</h2>
    <a href="{% url 'ecommerce:Ecommerce_index' %}" class="store-link">Back to store</a>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <img src="{{ product.image.url }}" alt="{{ product.name }}">

    <form action="{% url 'ecommerce:add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Add to Cart" class="submit-btn">
    </form>
</div>
{% endblock content %}
