.cart-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

h1 {
    color: #4c4c4c;
    margin-bottom: 20px;
}

.back-to-store {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007BFF;
}

.back-to-store:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.actions a {
    text-decoration: none;
    margin-right: 10px;
    color: #007BFF;
}

.actions a:hover {
    text-decoration: underline;
}

button[type="submit"] {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
