{% extends 'STY.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'more_list.css' %}">

<div style="width: 100px;height: 80px;"></div>

<div class="row">
    <div class="column">
      <div class="card" onclick="window.location.href='blog'">
        <h3>Blog</h3>
        <p>where you can </p>
        <p>ask question or show off</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card" onclick="window.location.href='weather'">
        <h3>Weather</h3>
        <p>Check the Weather</p>
        <p>convenient travel and life</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card"onclick="window.location.href='To_Do_List/tasks'">
        <h3>To-do-list</h3>
        <p>To Do gives you focus</p>
        <p>from work to play, balance your life</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Chat Room</h3>
        <p>group up with our team</p>
        <p>Chat and work together</p>
      </div>
    </div>

    <div class="column">
      <div class="card"onclick="window.location.href='chess'">
        <h3>Play Chess</h3>
        <p>Play against bot</p>
        <p>try to beat it!</p>
      </div>
    </div>

    <div class="column">
      <div class="card"onclick="window.location.href='ecommerce/Ecommerce_index'">
        <h3>market</h3>
        <p>sell items earn rewards</p>
        <p>look for treasures</p>
      </div>
    </div>

    <div class="column">
      <div class="card"onclick="window.location.href='wheel'">
        <h3>Wheel</h3>
        <p>destiny selection</p>
        <p>let the fate choose for you</p>
      </div>

  </div>
</div>

{% endblock content %}