{% extends 'STY.html' %}
{% load static %}
{% block content %}
<style>
    body{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div>
    <h1>Weather App</h1>
    <form method="post">
        {% csrf_token %}
        <label for="city">Enter city name:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Get Weather</button>
    </form>
    {% if data.city_not_found %}
        <p>City not found. Please enter a valid city name.</p>
    {% else %}
        <p>Current weather in {{ city }}:</p>
        {% if data.weather_icon %}
            <p>{{ data.weather_icon|safe }} {{ data.weather }}</p>
        {% else %}
            <p>{{ data.weather }}</p>
        {% endif %}
        <p>Temperature: {{ data.temp }}</p>
        <p>Feels like: {{ data.feels_like }}</p>
        <p>Humidity: {{ data.humidity }}</p>
        <p>Pressure: {{ data.pressure }}</p>
        <p>Coordinates: {{ data.coordinate }}</p>
        <p>Country code: {{ data.country_code }}</p>
    {% endif %}
</div>
{% endblock %}

